*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body{
    background-color: darkslateblue;
}

.input-box{
    /* background-color: red; */
    background: #fff;
    width: 50%;
    max-width: 500px;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 300px auto;
    display: flex;
    align-items: center;
}


.input-box input{
    width: 100%;
    padding: 10px 0;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #484848;
}

.input-box img{
    width: 30px;
    cursor: pointer;
}